
01_Baseline/

01_Baseline_rev2/

01_Baseline_rev3/

01_Baseline_rev/

01_Baseline_rev4/

01_Baseline_rev5/

01_Baseline_rev6/

01_Baseline_rev7/

01_Baseline_rev8/

01_Baseline_rev9/

02_FineTuning(rev10_base)/

03_Many_initial_agents（中止）/

04_Test_after_finetuning(Animes)/

05_Test_after_finetuning(Generalization)/

07_Test_after_fineTuning/

01_Baseline_rev10/trial(max_steps=100)/

01_Baseline_rev10/trial(max_steps=150)/

01_Baseline_rev10/models/

01_Baseline_rev10/__pycache__/

06_FineTuning_2/__pycache__/

06_FineTuning_2/trial-1(preliminary test-1)/

06_FineTuning_2/trial-2(preliminary test-2)/

06_FineTuning_2/trial-3/

06_FineTuning_2/

08_FineTuning_3/

09_FineTuning_4/

10_FineTuning_5/

11_FineTuning_6/scenario_3-1/

11_FineTuning_6/scenario_3-2/

11_FineTuning_6/scenario_3-3/

11_FineTuning_6/__pycache__/

11_FineTuning_6/log/

11_FineTuning_6/models/

11_FineTuning_6/test_engagement/

11_FineTuning_6/trial/
